@import "./partials/common";

@mixin anim-plats-mixin($translate, $duration, $delay){
    transform: translateX($translate);
    animation: anim-plats $duration $delay forwards;
}

@keyframes anim-plats{
    100%{
        transform: translate(0);
    }
}

.header{
    a{
        transform: scale(1.5);
        position: absolute;
        left: 25px;
    }
    box-shadow: none;

    i{
        color: black;
    }
}

.background{
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: 50% 60%;
    @media (min-width: $bp-desktop) {
        height: 500px;
    }
}

.container-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu{

    width: 100%;
    background-color: $grey-background-color;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    &-titre{
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 20px;
        h2{
            font-family: 'Shrikhand';
        }
    }

    &-corps{
        padding: 15px;
        display: flex;
        flex-direction: column;

        &-plats{

            padding-bottom: 15px;
            &-titreContainer{
                @include anim-plats-mixin(-100px, 600ms, 0ms);

                padding-bottom: 15px;
                &-titre{
                    font-weight: 300;
                }
                &-barre{
                    height: 4px;
                    width: 45px;
                    background-color: #99E2D0;
                    margin-top: 5px;
                }
            }
            &-content{
                display: flex;
                flex-direction: column;
                &-cardContainer{

                    display: flex;
                    padding-bottom: 10px;
                    &-card{
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        background-color: white;
                        border-radius: 15px;
                        width: 100%;
                        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
                        transition: width $duration-coche, border-top-right-radius $duration-coche, border-bottom-right-radius $duration-coche;

                        &-content > *,&-prix{
                            margin: 10px;
                        }
                        &-content{
                            width: 85%;
                            & > *{
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                            &-titre{
                                font-weight: 500;
                            }
                            &-texte{
                                font-weight: 300;
                            }
                        }
                    }

                    &-divAnim{
                        @include centered();
                        background-color: $tertiary-color;
                        width: 13%;
                        height: 68px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        transform: scaleX(0);
                        transition: transform $duration-coche;
                        transform-origin: right;
                        position: absolute;
                        z-index: 2;
                        right: 0px;

                        i{
                            transform: scale(1.5);
                            color: white;
                        }
                    }
                }
            }
        }
    }

    &-boutton{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        .button-style{
            padding: 15px;
            width: 45%;
            @include centered();
            font-size: 1.2em;
        }
    }

    @media (min-width: $bp-desktop) {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-titre{
            width: 30%;
            justify-content: center;
            h2{
                padding-right: 15px;
            }
        }

        &-corps{
            width: 60%;
        }

        &-boutton{
            width: 50%;
        }
    }
}

.anim-coche{

    //display: none;
    position: absolute;
    left: 0%;
    top: 15px;
    z-index: 3;
    width: 100%;
    height: 38px;
    opacity: 0;

    @media (min-width: $bp-desktop) {
        top: 0px;
        height: 68px;
    }
    &:checked ~ .menu-corps-plats-content-cardContainer{
        &-card{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 87%;
        }

        &-divAnim{
            transform: scaleX(1);
        }
    }
}

@for $i from 1 through 10 {
    .mixin-call#{$i}{
        @include anim-plats-mixin(-1000px, $duration-plats, $i*100ms);
        @media (min-width: $bp-desktop) {
            @include anim-plats-mixin(-1500px, $duration-plats, $i*100ms);
        }
    }
}
