//Imports

@import "./partials/common";

//Animations

@keyframes loader-anim {
    0%{
        transform: rotate(0);
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes page-return {
    100%{
        transform: scale(1);
    }   
}


.div-loader{
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 100%;
    @include centered();

    &-anim{
        border: solid 2px black;
        height: 100px;
        width: 100px;
        opacity: 1;
        position: absolute;
        border-radius: 5px;
        animation: loader-anim $duration-loader forwards;
    }
}


.page{
    transform: scale(0);
    animation: page-return 0s $duration-loader forwards;
}

//Haut de page

.localisation{
    @include centered();
    color: $grey-text-color;
    padding: 13px;
    background-color: #EAEAEA;
    i{
        padding-right: 15px;
    }
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    background-color: $grey-background-color;

    & > *{
        text-align: center;
        margin-bottom: 15px;
    }

    &-titre{
        font-size: 1.5em;
        margin: 0 0 15px 0;
        font-weight: 500;
        width: 75%;
        @media (min-width: $bp-desktop) {
            font-size: 2.5em;
        }
    }

    &-texte{
        color: $grey-text-color;
        font-weight: 300;
        width: 75%;
    }
}

//Fonctionnement

.container-fonctionnement{
    @include x-centered();
}

.fonctionnement{

    padding: 10px 15px 30px;
    width: 1024px;

    &-etapes{
        background-color: $grey-background-color;
        border-radius: 15px;
        padding: 20px;
        margin: 15px 5px;
        box-shadow: 0px 4px 5px lightgray;
        text-align: center;
        @media (min-width: $bp-desktop) {
            width: 27%;
        }

        i{
            display: flex;
            position: absolute;
            color: $main-color;
        }

        &-number{
            @include centered();
            height: 15px;
            width: 15px;
            background-color: $main-color;
            border-radius: 50px;
            color: white;
            font-size: 0.6em;
            position: absolute;
            margin-left: -27px;
        }

        &-texte{
            font-weight: 500;
        }
    }

    .etapes-container{
        @media (min-width: $bp-desktop) {
            display: flex;
            justify-content: space-between;
        }
    }
}

//Restaurants

.container-restaurants{
    background-color: $grey-background-color;
    @media (min-width: $bp-desktop) {
        @include x-centered();
    }
}

.restaurants{

    display: flex;
    flex-direction: column;
    background-color: $grey-background-color;
    padding: 30px 0;

    &-titre, .container-card{
        margin: 10px 20px;
    }

    a{
        text-decoration: none;
    }

    &-card{
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        text-decoration: none;
        color: black;
        margin-bottom: 30px;

        img{
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            position: relative;
        }

        &-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 15px 15px;
            //background-color: white;

            &-texte{

                font-weight: 300;
                &-title{

                    font-size: 1em;
                    padding: 5px 0;
                }
            }
        }

        &-new{
            background-color: #95dfcd;
            color: #008766;
            position: relative;
            left: 78%;
            margin-bottom: -35px;
            width: 12%;
            font-size: 0.6em;
            padding: 7px 10px;
            z-index: 100;
            text-align: center;
            border-radius: 2px;
        }
    }

    @media (min-width: $bp-desktop) {

        width: $bp-desktop;
        padding-bottom: 0;

        &-titre, .container-card{
            margin: 15px 0px;
        }

        .container-card{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 0;
        }

        a{
            width: 45%;
            margin-bottom: 40px;
        }

        &-card{
            margin-bottom: 0px;
        }
    }
}

.over{
    position: absolute;
}

.under{
    color: $main-color;
    transform: scale(0);
    transition: transform 400ms;
}

.anim-trigger{
    position: absolute;
    width: 18px;
    height: 18px;
    opacity: 0;
    margin: 0;
    z-index: 2;
    &:checked + .under{
        transform: scale(1) translateY(-1px);
    }
}