// Variables

$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey-text-color: #353535;
$grey-background-color: #F6F6F6;

//Mixins

@mixin centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin x-centered{
    display: flex;
    justify-content: center;
}

@mixin button-style{
    padding: 10px 0px;
    border-radius: 30px;
    border: 0;
    background: linear-gradient($secondary-color, $main-color);
    color: white;
    font-weight: 500;
}

//Polices

* {
    font-family: 'Roboto', sans-serif;
}

//Général

body{
    margin: 0;
}
h2{
    font-weight: 500;
}
h3{
    font-weight: 500;
    margin: 0;
}

//Haut de page

.header{
    @include centered();
    padding: 15px;
    box-shadow: 0px 1px 5px grey;
    position: relative;
    z-index:1;
    img{
        width: 50%;
    }
}

.localisation{
    @include centered();
    color: $grey-text-color;
    padding: 13px;
    background-color: #EAEAEA;
    i{
        padding-right: 15px;
    }
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    background-color: $grey-background-color;

    & > *{
        text-align: center;
        width: 75%;
        margin-bottom: 15px;
    }

    &-titre{
        font-size: 1.5em;
        margin: 0 0 15px 0;
        font-weight: 500;
    }

    &-texte{
        color: $grey-text-color;
        font-weight: 300;
    }

    &-button{
        @include button-style();
        width: 50%;
    }
}

//Fonctionnement

.fonctionnement{

    padding: 10px 15px 30px;

    &-etapes{
        background-color: $grey-background-color;
        border-radius: 15px;
        padding: 20px;
        margin: 15px 5px;
        box-shadow: 0px 4px 5px lightgray;
        text-align: center;

        i{
            position: absolute;
            left: 40px;
            color: $main-color;
        }

        &-number{
            @include centered();
            height: 15px;
            width: 15px;
            background-color: $main-color;
            border-radius: 50px;
            color: white;
            font-size: 0.6em;
            position: absolute;
            left: 11px;
        }

        &-texte{
            font-weight: 500;
        }
    }
}

//Restaurants

.restaurants{

    display: flex;
    flex-direction: column;
    background-color: $grey-background-color;
    padding: 30px 0;

    & > *{
        margin: 10px 20px;
    }

    &-card{
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        text-decoration: none;
        color: black;
        margin-bottom: 20px;

        img{
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            position: relative;
        }

        &-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 15px 15px;

            &-texte{

                font-weight: 300;
                &-title{

                    font-size: 1em;
                    padding: 5px 0;
                }
            }
        }

        &-new{
            background-color: #95dfcd;
            color: #008766;
            position: relative;
            left: 78%;
            margin-bottom: -35px;
            width: 12%;
            font-size: 0.6em;
            padding: 7px 10px;
            z-index: 100;
            text-align: center;
            border-radius: 2px;
        }
    }
}

.footer{

    background-color: $grey-text-color;
    color: white;
    padding: 15px;

    &-logo{
        font-family: 'Shrikhand';
        padding-bottom: 10px;
    }

    &-content{

        display: flex;
        flex-direction: column;
        i{
            width: 30px;
        }

        &-links{
            text-decoration: none;
            color: white;
            padding: 2px 0;
        }
    }
}