// Variables

$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey-text-color: #353535;
$grey-background-color: #F6F6F6;
$duration-loader: 0s;/* random($limit: 2000)+1000 *1ms; */

$bp-desktop: 1024px;

//Mixins

@mixin centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin x-centered{
    display: flex;
    justify-content: center;
}

//Animations

@keyframes loader-anim {
    0%{
        transform: rotate(0);
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes page-return {
    100%{
        transform: scale(1);
    }   
}

//Polices

* {
    font-family: 'Roboto', sans-serif;
}

//Général

body{
    margin: 0;
}

.height100{
    height: 100%;
}

h2{
    font-weight: 500;
}
h3{
    font-weight: 500;
    margin: 0;
}

.div-loader{
    //background-color: pink;
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 100%;
    @include centered();

    &-anim{
        border: solid 2px black;
        height: 100px;
        width: 100px;
        opacity: 1;
        position: absolute;
        border-radius: 5px;
        animation: loader-anim $duration-loader forwards;
    }
}


.page{
    transform: scale(0);
    animation: page-return 0s $duration-loader forwards;
}

.button-style{
    padding: 12px 15px;
    border-radius: 30px;
    border: 0;
    background: linear-gradient($secondary-color, $main-color);
    color: white;
    font-weight: 500;
    font-size: .9em;
    text-decoration: none;
    box-shadow: 0px 0px 3px grey;
    width: fit-content;
    &:active{
        background: linear-gradient(lighten($secondary-color, 5%), lighten($main-color, 5%));
        box-shadow: 0px 0px 6px grey;
    }
    @media (min-width: $bp-desktop) {
        &:hover{
            background: linear-gradient(lighten($secondary-color, 5%), lighten($main-color, 5%));
            box-shadow: 0px 0px 6px grey;
        }
    }
}

//Haut de page

.header{
    @include centered();
    padding: 15px;
    box-shadow: 0px 1px 5px grey;
    position: relative;
    z-index:1;
    img{
        width: 50%;    
        @media (min-width: $bp-desktop) {
            width: 15%;
            padding: 15px;
        }
    }

    @media (min-width: $bp-desktop) {
        box-shadow: none;
    }
}

.localisation{
    @include centered();
    color: $grey-text-color;
    padding: 13px;
    background-color: #EAEAEA;
    i{
        padding-right: 15px;
    }
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    background-color: $grey-background-color;

    & > *{
        text-align: center;
        margin-bottom: 15px;
    }

    &-titre{
        font-size: 1.5em;
        margin: 0 0 15px 0;
        font-weight: 500;
        width: 75%;
        @media (min-width: $bp-desktop) {
            font-size: 2.5em;
        }
    }

    &-texte{
        color: $grey-text-color;
        font-weight: 300;
        width: 75%;
    }
}

//Fonctionnement

.container-fonctionnement{
    @include x-centered();
}

.fonctionnement{

    padding: 10px 15px 30px;
    width: 1024px;

    &-etapes{
        background-color: $grey-background-color;
        border-radius: 15px;
        padding: 20px;
        margin: 15px 5px;
        box-shadow: 0px 4px 5px lightgray;
        text-align: center;
        @media (min-width: $bp-desktop) {
            width: 27%;
        }

        i{
            display: flex;
            position: absolute;
            color: $main-color;
        }

        &-number{
            @include centered();
            height: 15px;
            width: 15px;
            background-color: $main-color;
            border-radius: 50px;
            color: white;
            font-size: 0.6em;
            position: absolute;
            margin-left: -27px;
        }

        &-texte{
            font-weight: 500;
        }
    }

    .etapes-container{
        @media (min-width: $bp-desktop) {
            display: flex;
            justify-content: space-between;
        }
    }
}

//Restaurants

/* .container-restaurants{
    background-color: $grey-background-color;
    @media (min-width: $bp-desktop) {
        @include x-centered();
    }
}

.container-card{
    @media (min-width: $bp-desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
} */

.restaurants{

    display: flex;
    flex-direction: column;
    background-color: $grey-background-color;
    padding: 30px 0;

/*     @media (min-width: $bp-desktop) {
        width: $bp-desktop;

        .restaurants-card{
            width: 45%;
            margin-bottom: 60px;
        }

        & > *{
            margin: 0;
        }
    } */

    & > *{
        margin: 10px 20px;
    }

    &-card{
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        text-decoration: none;
        color: black;
        margin-bottom: 20px;

        img{
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            position: relative;
        }

        &-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 15px 15px;
            //background-color: white;

            &-texte{

                font-weight: 300;
                &-title{

                    font-size: 1em;
                    padding: 5px 0;
                }
            }
        }

        &-new{
            background-color: #95dfcd;
            color: #008766;
            position: relative;
            left: 78%;
            margin-bottom: -35px;
            width: 12%;
            font-size: 0.6em;
            padding: 7px 10px;
            z-index: 100;
            text-align: center;
            border-radius: 2px;
        }
    }
}

.over{
    position: absolute;
}

.under{
    color: $main-color;
    transform: scale(0);
    transition: transform 400ms;
}

.anim-trigger{
    position: absolute;
    width: 18px;
    height: 18px;
    opacity: 0;
    margin: 0;
    z-index: 2;
    &:checked + .under{
        transform: scale(1) translateY(-1px);
    }
}

//Footer

.footer{

    background-color: $grey-text-color;
    color: white;
    padding: 15px;

    &-logo{
        font-family: 'Shrikhand';
        padding-bottom: 10px;
    }

    &-content{

        display: flex;
        flex-direction: column;
        i{
            width: 30px;
        }

        &-links{
            text-decoration: none;
            color: white;
            padding: 2px 0;
        }
    }
}