body {
  margin: 0;
}

.height100 {
  height: 100%;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.button-style {
  padding: 12px 15px;
  border-radius: 30px;
  border: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  font-size: 0.9em;
  text-decoration: none;
  box-shadow: 0px 0px 3px grey;
  width: -moz-fit-content;
  width: fit-content;
}
.button-style:active {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 6px grey;
}
@media (min-width: 1024px) {
  .button-style:hover {
    background: linear-gradient(#ff93e1, #a16be0);
    box-shadow: 0px 0px 6px grey;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 1px 5px grey;
  position: relative;
  z-index: 1;
}
.header img {
  width: 50%;
}
@media (min-width: 430px) {
  .header img {
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .header img {
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  .header {
    box-shadow: none;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 15px;
}
.footer-logo {
  font-family: "Shrikhand";
  padding-bottom: 10px;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-content i {
  width: 30px;
}
.footer-content-links {
  text-decoration: none;
  color: white;
  padding: 2px 0;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 50px;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
  }
  .footer-content-links {
    padding: 2px 15px;
  }
  .footer-logo {
    padding: 0px 30px;
  }
}

.over {
  position: absolute;
  transform: scale(1.5);
}

.under {
  color: #9356DC;
  transform: scale(0);
  transition: transform 400ms;
}

.anim-trigger {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  margin: 0;
  z-index: 2;
  display: none;
}
.anim-trigger:checked + .under {
  transform: scale(1.5) translateY(-1px);
}

@keyframes anim-plats {
  100% {
    transform: translate(0);
  }
}
.header {
  box-shadow: none;
}
.header a {
  transform: scale(1.5);
  position: absolute;
  left: 25px;
}
.header i {
  color: black;
}

.background {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
@media (min-width: 1024px) {
  .background {
    height: 500px;
  }
}

.container-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu {
  width: 100%;
  background-color: #F6F6F6;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.menu-titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu-titre h2 {
  font-family: "Shrikhand";
}
.menu-corps {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.menu-corps-plats {
  padding-bottom: 15px;
}
.menu-corps-plats-titreContainer {
  transform: translateX(-100px);
  animation: anim-plats 600ms 0ms forwards;
  padding-bottom: 15px;
}
.menu-corps-plats-titreContainer-titre {
  font-weight: 300;
}
.menu-corps-plats-titreContainer-barre {
  height: 4px;
  width: 45px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.menu-corps-plats-content {
  display: flex;
  flex-direction: column;
}
.menu-corps-plats-content-cardContainer {
  display: flex;
  padding-bottom: 10px;
}
.menu-corps-plats-content-cardContainer-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: width 1000ms, border-top-right-radius 1000ms, border-bottom-right-radius 1000ms;
}
.menu-corps-plats-content-cardContainer-card-content > *, .menu-corps-plats-content-cardContainer-card-prix {
  margin: 10px;
}
.menu-corps-plats-content-cardContainer-card-content {
  width: 85%;
}
.menu-corps-plats-content-cardContainer-card-content > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-corps-plats-content-cardContainer-card-content-titre {
  font-weight: 500;
}
.menu-corps-plats-content-cardContainer-card-content-texte {
  font-weight: 300;
}
.menu-corps-plats-content-cardContainer-divAnim {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 13%;
  height: 68px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: scaleX(0);
  transition: transform 1000ms;
  transform-origin: right;
  position: absolute;
  z-index: 2;
  right: 0px;
}
.menu-corps-plats-content-cardContainer-divAnim i {
  transform: scale(1.5);
  color: white;
}
.menu-boutton {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.menu-boutton .button-style {
  padding: 15px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
@media (min-width: 1024px) {
  .menu {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-titre {
    width: 30%;
    justify-content: center;
  }
  .menu-titre h2 {
    padding-right: 15px;
  }
  .menu-corps {
    width: 60%;
  }
  .menu-boutton {
    width: 50%;
  }
}

.anim-coche {
  position: absolute;
  left: 0%;
  top: 15px;
  z-index: 3;
  width: 100%;
  height: 38px;
  opacity: 0;
}
@media (min-width: 1024px) {
  .anim-coche {
    top: 0px;
    height: 68px;
  }
}
.anim-coche:checked ~ .menu-corps-plats-content-cardContainer-card {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 87%;
}
.anim-coche:checked ~ .menu-corps-plats-content-cardContainer-divAnim {
  transform: scaleX(1);
}

.mixin-call1 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 100ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call1 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 100ms forwards;
  }
}

.mixin-call2 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 200ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call2 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 200ms forwards;
  }
}

.mixin-call3 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 300ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call3 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 300ms forwards;
  }
}

.mixin-call4 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 400ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call4 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 400ms forwards;
  }
}

.mixin-call5 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 500ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call5 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 500ms forwards;
  }
}

.mixin-call6 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 600ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call6 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 600ms forwards;
  }
}

.mixin-call7 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 700ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call7 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 700ms forwards;
  }
}

.mixin-call8 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 800ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call8 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 800ms forwards;
  }
}

.mixin-call9 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 900ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call9 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 900ms forwards;
  }
}

.mixin-call10 {
  transform: translateX(-1000px);
  animation: anim-plats 1000ms 1000ms forwards;
}
@media (min-width: 1024px) {
  .mixin-call10 {
    transform: translateX(-1500px);
    animation: anim-plats 1000ms 1000ms forwards;
  }
}