/* random($limit: 2000)+1000 *1ms; */
body {
  margin: 0;
}

.height100 {
  height: 100%;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.button-style {
  padding: 12px 15px;
  border-radius: 30px;
  border: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  font-size: 0.9em;
  text-decoration: none;
  box-shadow: 0px 0px 3px grey;
  width: -moz-fit-content;
  width: fit-content;
}
.button-style:active {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 6px grey;
}
@media (min-width: 1024px) {
  .button-style:hover {
    background: linear-gradient(#ff93e1, #a16be0);
    box-shadow: 0px 0px 6px grey;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 1px 5px grey;
  position: relative;
  z-index: 1;
}
.header img {
  width: 50%;
}
@media (min-width: 1024px) {
  .header img {
    width: 200px;
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  .header {
    box-shadow: none;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 15px;
}
.footer-logo {
  font-family: "Shrikhand";
  padding-bottom: 10px;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-content i {
  width: 30px;
}
.footer-content-links {
  text-decoration: none;
  color: white;
  padding: 2px 0;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 50px;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
  }
  .footer-content-links {
    padding: 2px 15px;
  }
  .footer-logo {
    padding: 0px 30px;
  }
}

.over {
  position: absolute;
}

.under {
  color: #9356DC;
  transform: scale(0);
  transition: transform 400ms;
}

.anim-trigger {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  margin: 0;
  z-index: 2;
  display: none;
}
.anim-trigger:checked + .under {
  transform: scale(1) translateY(-1px);
}

.header {
  justify-content: space-between;
  box-shadow: none;
}
.header a, .header-right {
  width: 10%;
  transform: scale(1.5);
  padding: 0 10px;
}
.header i {
  color: black;
}

.background {
  width: 100%;
}

.menu {
  width: 100%;
  background-color: #F6F6F6;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.menu-titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu-titre h2 {
  font-family: "Shrikhand";
}
.menu-corps {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.menu-corps-plats {
  padding-bottom: 15px;
}
.menu-corps-plats-titreContainer {
  padding-bottom: 15px;
}
.menu-corps-plats-titreContainer-titre {
  font-weight: 300;
}
.menu-corps-plats-titreContainer-barre {
  height: 4px;
  width: 45px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.menu-corps-plats-content {
  display: flex;
  flex-direction: column;
}
.menu-corps-plats-content-cardContainer {
  display: flex;
  padding-bottom: 10px;
}
.menu-corps-plats-content-cardContainer-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: width 1000ms, border-top-right-radius 1000ms, border-bottom-right-radius 1000ms;
}
.menu-corps-plats-content-cardContainer-card-content > *, .menu-corps-plats-content-cardContainer-card-prix {
  margin: 10px;
}
.menu-corps-plats-content-cardContainer-card-content {
  width: 85%;
}
.menu-corps-plats-content-cardContainer-card-content > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-corps-plats-content-cardContainer-card-content-titre {
  font-weight: 500;
}
.menu-corps-plats-content-cardContainer-card-content-texte {
  font-weight: 300;
}
.menu-corps-plats-content-cardContainer-card-prix {
  transition: transform 400ms;
}
.menu-corps-plats-content-cardContainer-divAnim {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 13%;
  height: 68px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: scaleX(0);
  transition: transform 1000ms;
  transform-origin: right;
  position: absolute;
  z-index: 100;
  right: 15px;
}
.menu-corps-plats-content-cardContainer-divAnim i {
  transform: scale(1.5);
  color: white;
}
.menu-boutton {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.menu-boutton .button-style {
  padding: 15px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.anim-plats {
  display: none;
}
.anim-plats:checked ~ .menu-corps-plats-content-cardContainer-card {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 87%;
}
.anim-plats:checked ~ .menu-corps-plats-content-cardContainer-divAnim {
  transform: scaleX(1);
}