body {
  margin: 0;
}

.height100 {
  height: 100%;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.button-style {
  padding: 12px 15px;
  border-radius: 30px;
  border: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  font-size: 0.9em;
  text-decoration: none;
  box-shadow: 0px 0px 3px grey;
  width: -moz-fit-content;
  width: fit-content;
}
.button-style:active {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 6px grey;
}
@media (min-width: 1024px) {
  .button-style:hover {
    background: linear-gradient(#ff93e1, #a16be0);
    box-shadow: 0px 0px 6px grey;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 1px 5px grey;
  position: relative;
  z-index: 1;
}
.header img {
  width: 50%;
}
@media (min-width: 430px) {
  .header img {
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .header img {
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  .header {
    box-shadow: none;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 15px;
}
.footer-logo {
  font-family: "Shrikhand";
  padding-bottom: 10px;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-content i {
  width: 30px;
}
.footer-content-links {
  text-decoration: none;
  color: white;
  padding: 2px 0;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 50px;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
  }
  .footer-content-links {
    padding: 2px 15px;
  }
  .footer-logo {
    padding: 0px 30px;
  }
}

.over {
  position: absolute;
  transform: scale(1.5);
}

.under {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: transform 400ms;
}

.anim-trigger {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  margin: 0;
  z-index: 2;
  display: none;
}
.anim-trigger:checked + .under {
  transform: scale(1.5) translateY(-1px);
}

@keyframes loader-anim {
  0% {
    transform: rotate(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes page-return {
  100% {
    transform: scale(1);
  }
}
.div-loader {
  position: absolute;
  opacity: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-loader-anim {
  border: solid 2px black;
  height: 100px;
  width: 100px;
  opacity: 1;
  position: absolute;
  border-radius: 5px;
  animation: loader-anim 2692ms forwards;
}

.page {
  transform: scale(0);
  animation: page-return 0s 2692ms forwards;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  padding: 13px;
  background-color: #EAEAEA;
}
.localisation i {
  padding-right: 15px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  background-color: #F6F6F6;
}
.intro > * {
  text-align: center;
  margin-bottom: 15px;
}
.intro-titre {
  font-size: 1.5em;
  margin: 0 0 15px 0;
  font-weight: 500;
  width: 75%;
}
@media (min-width: 1024px) {
  .intro-titre {
    font-size: 2.5em;
  }
}
.intro-texte {
  color: #353535;
  font-weight: 300;
  width: 75%;
}

.container-fonctionnement {
  display: flex;
  justify-content: center;
}

.fonctionnement {
  padding: 10px 15px 30px;
  width: 1024px;
}
.fonctionnement-etapes {
  background-color: #F6F6F6;
  border-radius: 15px;
  padding: 20px;
  margin: 15px 5px;
  box-shadow: 0px 4px 5px lightgray;
  text-align: center;
}
@media (min-width: 1024px) {
  .fonctionnement-etapes {
    width: 27%;
  }
}
.fonctionnement-etapes i {
  display: flex;
  position: absolute;
  color: #9356DC;
}
.fonctionnement-etapes-number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  font-size: 0.6em;
  position: absolute;
  margin-left: -27px;
}
.fonctionnement-etapes-texte {
  font-weight: 500;
}
@media (min-width: 1024px) {
  .fonctionnement .etapes-container {
    display: flex;
    justify-content: space-between;
  }
}

.container-restaurants {
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  .container-restaurants {
    display: flex;
    justify-content: center;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 30px 0px;
}
.restaurants-titre, .restaurants .container-card {
  margin: 10px 20px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants-card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  text-decoration: none;
  color: black;
  margin-bottom: 30px;
}
.restaurants-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
.restaurants-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 15px;
}
.restaurants-card-content-texte {
  font-weight: 300;
}
.restaurants-card-content-texte-title {
  font-size: 1em;
  padding: 5px 0;
}
.restaurants-card-new {
  background-color: #95dfcd;
  color: #008766;
  position: relative;
  left: 78%;
  margin-bottom: -35px;
  width: 12%;
  font-size: 0.6em;
  padding: 7px 10px;
  z-index: 100;
  text-align: center;
  border-radius: 2px;
}
@media (min-width: 1024px) {
  .restaurants {
    width: 1024px;
    padding: 30px 30px;
  }
  .restaurants-titre, .restaurants .container-card {
    margin: 15px 0px;
  }
  .restaurants .container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .restaurants-card {
    width: 45%;
    margin-bottom: 40px;
  }
}